apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base/nginx-demo
namePrefix: dev-
commonLabels:
  environment: dev
patches:
- target:
    kind: Deployment
    name: nginx-demo
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
